ul, li{
    list-style: none;
}
a{
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
}
.navbar_dropmenu_step1{
    display: flex;
    flex-direction: column;
}
.navbar_dropmenu_step2{
    display: flex;
}
.navbar_dropmenu_step3{
    display: flex;
}